/* here you can put your own css to customize and override the theme */

span.compulsary { color: #e7505a; }

label {
    font-weight: 600;
}

.table-scrollable .dataTable td>.btn-group open {
    left: -40px;
}

table th, table.dataTable thead .sorting, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc {
    background-color: #eee;
}

::selection {
  background: yellow; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: yellow; /* Gecko Browsers */
}

.hidden-input-event,
.hidden-input-edition,
.hidden-input-race,
.hidden-input-club,
.hidden-input-sponsor,
.hidden-input-user,
.hidden-input-newsletter,
.hidden-input-organiser,
.hidden-date-range
{
    display: none;
}

.mt-checkbox-inline {
    padding: 10px 0 0;
}

h4.race_heading {
    padding: 4px 0;
}

i.red { color: rgb(205, 98, 98); }
i.green { color: rgb(132, 198, 143); }
i.amber { color: rgb(200, 208, 70); }
i.white { color: rgb(255, 255, 255); }

input.danger {
    border-color: rgb(205, 98, 98); 
    background-color: #FFDCFF;
}

.badge a { color: #fff;}
h3.popover-title { color: #333;}

.tags a.badge { 
    padding: 8px 8px;
    height: auto;
    font-size: 14px !important;
    margin-bottom: 8px;
}
.tags a.badge:hover {
    background: #666;
}

.label-secondary {
    background-color: #36c6d3;
}